
html {
    height: auto;
    min-height: 200vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, rgba(255,255,240,1) 0%, rgba(98,198,255,1) 20%, rgba(0,0,255,1) 50%);
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: "Seaweed Script", cursive;
}

.logo {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem 1rem 0 1rem;
    text-align: center;
    text-shadow: 2px 2px 2px white, 4px 4px 4px black;
    font-size: 80px;
    color: #e63900;
    font-weight: normal;
}

.headline {
    margin: 0;
    height: 130px;
    font-weight: normal;
}

h3 {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 4rem 0 0 0;
    text-align: center;
    text-shadow: 2px 2px 2px white, 4px 4px 4px black;
    font-size: 80px;
    color: #e63900;
    font-weight: normal;
}

h4 {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 36px;
    color: white;
    font-weight: normal;
}

.trademark {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0 0 20px 0;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px white, 2px 2px 2px black;
    font-size: 30px;
    font-weight: normal;
}

#trademark {
    max-width: 500px;
    text-align: right;
    color: gold;
    text-shadow: 2px 2px 2px black;
}

.trademark:hover {
    color: gold;
    text-shadow: 2px 2px 2px black; 
}

a {
    text-decoration: none;
}

.lang-lists:hover {
    text-shadow: 2px 2px 2px gold, 4px 4px 4px black;
}

h4:hover {
    color: gold;
}

.main {
    padding: 20px;
}

form {
    background-color: white;
    box-shadow: 2px 2px 2px white, 4px 4px 4px black;
    padding: 15px;
    margin-bottom: 14px;
    border: 0.5px solid #EFEFEF;
    border-radius: 5px;
    display: flex;
}

input[type=text] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.6rem;
    font-family: "Seaweed Script", cursive;
    color: #595959;
    flex-grow: 1;
    padding-left: 5px;
}

button {
    font-size: 1.5rem;
    background-color: white;
    outline: 0;
    border: none;
    color: #595959;
}

.addBtn:hover {
    color: gold;
}

.checkBtn:hover {
    color: #00cc00;
}

.deleteBtn:hover {
    color: #e63900;
}

.accentButtons {
    text-align: center;
    line-height: 1;
    letter-spacing: 0.6em;
}

#limousin {
    letter-spacing: 0.09em;
}

.diacritics {
    color: black;
    padding: 1px 5.4px;
    margin: auto;
    box-shadow: 2px 1px 2px white, 4px 4px 4px black;
    font-size: 20px;
    font-weight: 400;
    /* appearance: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 1;
}

.todoList {
    background-color: white;
    border: 0.5px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white, 4px 4px 4px black;
    margin-top: 14px;
    padding: 10px 25px;
    height: 100%;
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
    font-size: 1.6rem;
}

i {
    pointer-events: none;
}

.todo-item {
    flex-grow: 1;
     padding-left: 5px;
}

.clearAll {
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 1.6rem;
}

.clearAll:hover {
    color: #e63900;
}

.todo-list-item {
    transition: all 0.3s ease-out;
}

.todo-list-item-fall {
    transform: translateY(12rem) rotateZ(10deg);
    opacity: 0;
}